<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source" parentSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\Framework2008\Config\Smart.PortalAcessoSmart.config" />
    </sources>
    <redirectSections>
      <add sourceName="File-based Configuration Source" name="loggingConfiguration"/>
      <add sourceName="File-based Configuration Source" name="dataConfiguration"/>
      <add sourceName="File-based Configuration Source" name="policyInjection"/>
      <add sourceName="File-based Configuration Source" name="connectionStrings"/>
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="2147483647"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR"/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension="woff2" mimeType="application/font-woff"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Default.html"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Modo de desenvolvmento - 1 para DSV e 0 para PRD -->
    <add key="MODODESENVOLVIMENTO" value="1"/>
    <!-- Domínio em que a aplicação tentará fazer o Login, separado por virgula -->
    <add key="CAMINHO_LDAP" value="172.16.14.93"/>
    <!-- Modo de desenvolvimento - URL do Portal -->
    <!-- DOSSIE FILIADO -->
    <!--<add key="URLSISTEMAMODODESENVOLVIMENTO" value="http://localhost:13397"/>-->
    <!-- GESTAO VISITAS -->
    <!--<add key="URLSISTEMAMODODESENVOLVIMENTO" value="http://localhost:58325"/>-->
    <!-- FINANCEIRO -->
    <add key="URLSISTEMAMODODESENVOLVIMENTO" value="http://localhost:1608"/>
    
    <!--COMPRAS-->
    <!--<add key="URLSISTEMAMODODESENVOLVIMENTO" value="http://localhost:53176/"/>-->
    
    
    <!-- Porta LDAP em que a aplicação tentará fazer o Login -->
    <add key="PORTA_LDAP" value="636"/>
    <!-- DN em que a aplicação tentará fazer o Login -->
    <add key="DISTINGUISHEDNAME_LDAP" value="DC=MARTINS,DC=COM,DC=BR"/>
    <!-- Código do Sistema para o Controle de Acesso -->
    <add key="CODSISINF" value="0"/>
    <!-- Tamanho da chave privada que sera gerada para cada requisicao de troca de sistema -->
    <add key="AESKEYSIZE" value="256"/>
    <!-- Tamanho do bloco da chave privada que sera gerada para cada requisicao de troca de sistema -->
    <add key="AESBLOCKSIZE" value="128"/>
    <!-- Caminho da API dos sistemas que serao chamados com o token -->
    <add key="CAMINHOAPISISTEMAS" value="/api/Login/EfetuarLogin"/>
    <!---->
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647"/>

    <!--API DE LOG -->
    <!--API OLD PROJECT VB6  PORTA 1608 -->
    <!--<add key="WEBAPILOG" value="http://localhost:56175/api" />-->
    <add key="WEBAPILOG" value="http://ww6.martins.com.br/Smart.WebApiLogs/api" />
    <add key="CRIALOGERRO" value="ControleLog/CriaLogErro" />
    <add key="INSERIRLOG" value="ControleLog/InserirLog" />
    <!---->

  </appSettings>
</configuration>